name: 'Documentation build'

on:
  workflow_dispatch:
  push:
    branches:
      - 1.0.0*

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: "Bundle and Build"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Redocly bundle
        run: "npx --yes @redocly/cli bundle ./docs/_data/openapi-split.yaml -o ./docs/openapi.yaml"

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.98.0
        with:
          ruby-version: '3.1'

      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Build with Jekyll
        with:
          working-directory: docs
        run: bundle exec jekyll build
        env:
          JEKYLL_ENV: production
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_site/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
