name: 'OWASP Spectral lint'

on:
  workflow_dispatch:
  push:
    branches:
      - 1.0.0*
  pull_request:
    branches:
      - 1.0.0*

permissions:
  contents: read

jobs:
  build:
    name: "Bundle and Lint"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Lint
        run: >-
          npx --yes @redocly/cli bundle ./docs/_data/openapi-split.yaml -o ./docs/openapi.yaml &&
          npx --yes @stoplight/spectral-cli lint docs/openapi.yaml --ruleset .spectral.yaml
